@import "tailwindcss";
html,
body,
#root {
  background-color: #0f172a; /* Slate 900 */
  color: #f1f5f9; /* Slate 100 */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
@layer components {
  .nav-btn-primary {
    @apply bg-blue-500 hover:bg-emerald-600 rounded text-black border-2 border-black flex items-center justify-center min-w-20 min-h-10;
  }
}
